@{
    ViewBag.Title = "Home Page";
}
@model mvclearn.Models.Model

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div>
            @* Html.BeginForm("ActionMethod", "ControllerName","Get⁄Post Method") *@
            @using (Html.BeginForm("Index", "Model", FormMethod.Post))
            {
                <table>
                  
                    <tr>
                        <th>Person Name</th>
                        <td>@Html.TextBoxFor(m => m.personname)</td>
                    </tr>
                    <tr>
                        <th>Person Age</th>
                        <td>@Html.TextBoxFor(m => m.personage)</td>
                    </tr>
                    <tr>
                        <td><input id="submit" type="submit" value="submit" /></td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("grid here", "Login","Model")</td>
                    </tr>

                </table>
            }
        </div>
    </div>
</div>